<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />



    <application>
        <activity
            android:name=".activity.PineDroidActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.image_pickup.ImagePickupActivity">
        </activity>
        <!-- ContentProvider 用于在App启动时初始化悬浮窗 -->
        <provider
            android:name=".content_provider.PineContentProvider"
            android:authorities="${applicationId}.floatinginitprovider"
            android:exported="false" />
    </application>
</manifest>