<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 针对Android 13+的通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用户位置信息 长时间获取  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_LOCATION"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application>
        <activity
            android:name=".activity.PineDroidActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.image_pickup.ImagePickupActivity">
        </activity>
        <activity
            android:name=".hardware.permission.location.PinePermissionActivity">
        </activity>
        <activity
            android:name=".debug.task_manager.TaskManagerActivity">
        </activity>
        <!-- ContentProvider 用于在App启动时初始化悬浮窗 -->
        <provider
            android:name=".content_provider.PineContentProvider"
            android:authorities="${applicationId}.floatinginitprovider"
            android:exported="false" />

        <!-- 注册位置服务 -->
        <service
            android:name=".hardware.gps.PineLocationForegroundService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:exported="false" />

        <!-- 解决 Android 7.0 及以上版本的文件共享问题 - 拍照 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_paths" />
        </provider>
    </application>
</manifest>